
 
@media only screen and (max-width:1200px) {
    .content span{
        font-size:2rem;
    }
    .content h3{
        font-size:4rem;
        line-height:100px;
    }
    .content p{
        font-size: 1rem;
        margin-top:40px;
    }
   
    .firstimage {
        max-height:300px;
        max-width:400px;
    }
    .firstimage img{
        height: 100%;
        width:100%;
    }
    .secondimage{
        max-height:350px;
        max-width:400px;
    }
    .secondimage img{
        height: 100%;
        width:100%
    }
    .firstimage p{
       font-size:2.5rem;
    }
    .secondimage p{
        font-size:2.5rem;
    }
    .team{
        padding: 0px 30px;
      
} 


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    .content span{
        font-size:2rem;
    }
    .content h3{
        font-size: 4rem;
        line-height:80px;
    }
    .content p{
        font-size: 1rem;
        margin-top:40px;
    }
    .content button{
        padding:10px 30px;
        font-size: 1rem;
    }
    .second{
        padding:70px 20px 40px 20px;
        min-height:450px;
        min-width:100%;
    }
    .firstimage {
        max-height:250px;
        max-width:350px;
    }
    .firstimage img{
        height: 100%;
        width:100%;
    }
    .secondimage{
        max-height:250px;
        max-width:350px;
    }
    .secondimage img{
        height: 100%;
        width:100%
    }
    .firstimage p{
       font-size:2.5rem;
    }
    .secondimage p{
        font-size:2.5rem;
    }
    .event{
        width:80%;
    }
    .photoslide{
        height:350px;  
    }
    .goy{
        padding:50px 10px;
        margin:50px auto;
        width:90%;
    }
    .goycontent{
        padding-left:30px;
    }
    .goyimg{
        max-height:400px;
    }
    .review{
        width:95%;
    }
    .reviewslide{
       padding:80px 20px 10px 20px;
    }
    .rev{
        padding:20px;
     }
     .rev img{
        width:90px;
        height:90px;
        left:115px;
    }
    .rev h1{
        margin-top:30px;
        font-size: 2rem;
    }
    .rev h2{
       font-size: 1.3rem; 
    }
    .standard{
        flex-basis:40%;
        margin-bottom: 40px;
    }
    .business{
        flex-basis: 40%;
        margin-bottom: 40px;
    }
    .premium{
        flex-basis:40%;

    }
    .team_members{
        display: grid;
        grid-template-columns:repeat(2,40%);
        grid-template-rows:repeat(2,min-content);  
    }
    .member{
        width:90%;
        margin-bottom: 20px;
    }
  
}
    
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .content span{
        font-size:1.5rem;
    }
    .content h3{
        font-size:3rem;
        line-height:80px;
    }
    .content p{
        font-size: 0.9rem;
        margin-top:60px;
    }
    .content button{
        padding:10px 30px;
        font-size: 1rem;
    }
    .thirdpart{
        display:block;
    }
    #bar{
        display:block;
    }
    .firstpart{
        display: none;
    }
    .secondpart button{
        margin-left: 20px;
    }
    .second{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .second{
        padding:70px 20px 40px 20px;
        min-height:450px;
        min-width:100%;
    }
    .firstimage {
        max-height:250px;
        max-width:450px;
        margin-bottom: 30px;
    }
    .secondimage{
        max-height:250px;
        max-width:450px;
    }
    .goy{
        flex-direction:column;
        width:75%;
    }
    .goycontent{
        width:90%;
        padding:0px 10px;
    }
    .goyimg{
        align-self: center;
        width:90%;
        padding: 20px;
    }
    .goycontent button{
        margin-left:160px;
    }
    .reviewslide{
        flex-direction:column;
    }    
    .rev{
        width:60%;
        margin-bottom:50px;
    }
    .rev p{
        font-size: 1rem;
    }
    .rev img{
        top:-55px;
        left:145px;
    }
    .sbp{
        flex-basis: 55%;
    }
    .team_members{
        display: grid;
        grid-template-columns:repeat(1,60%);
        grid-template-rows:repeat(1,min-content);  
    }
    .team-img{
        height:200px;
    }
    .member{
        width:90%;
        margin-bottom: 20px;
    }
    .contactform{
        flex-direction: column;
    }
    .form-first{
        line-height:30px;
        font-size: 1.2rem;
    }
    .form-second{
        margin-left:0%;
    }
    .msg{
        width:65%;
    }
    .form-second input{
        padding:20px 19px;
        margin:13px 10px;
    }
    input[type="submit"]{
        margin-top: 20px;
        padding:15px 40px;
   }
   footer{
    font-size: 1.2rem;
}

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 620px) {
    .content{
        padding:20px 0px;
    }
    .content span{
        font-size:1.5rem;
    }
    .content h3{
        font-size:2.5rem;
        line-height:50px;
    }
    .content p{
        font-size: 1rem;
        padding:0px 15px;
        margin-top:40px;
        letter-spacing:1px;
        line-height:20px;
    }
    .content button{
        padding:10px 30px;
        font-size: 1rem;
    } 
    .firstimage {
        max-height:250px;
        max-width:350px;
    }
    .secondimage{
        max-height:250px;
        max-width:350px;
    } 
    .event{
        width:90%;
    }
    .photoslide{
        height:350px; 
         
    }   
    .eventcontent{
        padding:30px 25px;
    }
    .event p{
        margin-top:20px;
        line-height:20px;
        letter-spacing:1.4px;
    }
    .goy{
        width:90%;
    }
    .goycontent{
        width:90%;
        padding:0px 10px;
    }
    .goyimg{
        align-self: center;
        width:90%;
        padding: 20px 0px;
    }
    .goycontent button{
        margin-left:10px;
        padding:10px 30px;

    }
    .reviewslide{
        flex-direction:column;
    }    
    .rev{
        width:70%;
        margin-bottom:60px;
        padding:20px;
        min-height:300px;
    }
    .rev h1{
        margin-top:20px;
        font-size:1.5rem;
    }
    .rev h2{
        margin-top:10px;
    }
    .rev p{
        font-size: 0.8rem;
    }
    .rev img{
        top:-55px;
        left:110px;
    }
    .sbp{
        flex-basis:65%;
    }
    .sbp h2{
        font-size: 1.3rem;
        padding:10px 0px;
    }
    .price{
        padding:15px 0px;
    }
    .price span:nth-of-type(1){
        font-size: 1.2rem;
    }
    .price span:nth-of-type(2){
        font-size:1.7rem;
    }
    .membership ul{
        padding:10px 30px;
    }
    .membership li a{
        font-size: 1rem;
        padding:20px 10px;
    }
    .membtn{
        padding:10px 40px;
    }
    .team_members{
        display: grid;
        grid-template-columns:repeat(1,90%);
        grid-template-rows:repeat(1,min-content);  
    }
    .member{
        margin-left: 20px;
    }
    .contactform{
        flex-direction: column;
    }
}

/* 320px — 480px */
@media only screen and (max-width:480px){
    .content p{
        font-size: 1.2rem;
    }
    .content span{
        font-size:1.2rem;
        margin-top: 20px;
    }
    .content h3{
        font-size:2.5rem;
        margin-top:40px;
        line-height:60px; 
    }
    .content p{
        font-size: 0.8rem;
        line-height:17px;
        margin-top:30px;
    }
    .firstimage {
        margin:20px 20px;
    }
    .firstimage p{ 
        font-size: 1.5rem;
    }
    .secondimage{
        margin:0px 20px;
    }
    .secondimage p{ 
        font-size: 1.5rem;
    }
    .photoslide{
        height:230px;   
    }   
    .eventcontent{
        padding:15px;
    }
    .event p{
        margin-top:20px;
        line-height:20px;
        letter-spacing:1.4px;
        font-size: 0.9rem;
    }
    .prev, .next {
        font-size: 2rem;
    }
    .event h1{
        font-size: 1rem;
        margin-bottom:15px;
    }
    .event span{
        font-size:1.2rem;
        font-weight: bold;
    }
    .goy{
        padding:20px 10px;
    }
    .goycontent{
        width:95%;
        padding:0px 5px;
        text-align:start;
    }
    .goycontent span{
        margin:10px 0px;
        font-size:1.3rem;
    }
    .goyimg{ 
        width:95%;
        padding: 20px 0px;
    }
    .goycontent button{
        display: none;
    }
    .review{
        width:100%;
        padding:15px 0px;
    }
    .review h1{
        font-size:2rem;
    }
    .reviewslide{
        padding:20px 2px;
        width:100%;
    }
    .rev{
       width:95%;
       min-height:250px;
       padding:10px;
       margin:80px;
    }
    .rev h1{
        margin-top:15px;
        font-size:1.6rem;
    }
    .rev h2{
        margin-top:5px;
        font-size: 1.1rem;
    }
    .rev p{
        margin-top:10px;
        font-size: 0.8rem;
    }
    .rev img{
        width:60px;
        height:60px;
        top:-35px;
        left:115px;
    }
    .membership{
        margin:10px 0px;
    }
    .sbp{
        flex-basis:75%;
    }
    .price{ 
        padding:5px 0px;
    }
    .price span:nth-of-type(1){
        font-size: 1rem;
    }
    .price span:nth-of-type(2){
        font-size:1.6rem;
    }
    .price h1{
        font-size: 1rem;
    }
    .membtn{
        padding:5px 30px;
        font-size:1rem;
    }
    .membership ul{
        padding:10px 25px;
    }
    .membership li a{
        font-size: 1rem;
        padding:15px 10px;
    }
    .team{
        width:100%;
        margin-top:30px;
        padding:10px;
    }
    .team h1{
        padding:20px 0px;   
    }
    .team_members{
        grid-template-columns:repeat(1,85%);  
    }
    .member{
        margin:10px 0px;
        width: 100%;
    }
    .team-content{
        padding:20px 10px;
    }
    .team-content i{
        padding:20px 10px;
        font-size: 1.5rem;
    }
    .contact{
        margin-bottom:15px;
    }
    iframe{
        height:400px;
    }
    footer{
        font-size: 1rem;
    }
 


}

    





/* 
Extra large devices (large laptops and desktops, 1200px and up)
@media only screen and (min-width: 1200px) {...}

 */
