*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: play;
}
a{
    color:white;
    text-decoration: none;
}
body{
    background-color:#141229;
}
.navbar{
    background-color:rgb(11, 11, 46);
    width:100%;
    position: fixed;
    z-index: 1;
    height:80px;
    color:white;
    display: flex;
    justify-content: space-between;
    align-items: center;;
    box-shadow:0px 5px 15px 5px black; ;
}
.firstpart ul{
    display: flex;
    list-style-type:none;
}
.firstpart a{
    display: block;
    font-size: 1.1rem;
    letter-spacing:2px;
    padding:15px 20px;
    font-family: 'Play', sans-serif;
    font-weight:700;
}
.firstpart a:hover{
    color:rgb(10, 173, 165);
}
.drop{
    position: relative;
}
.dropdown{
    position: absolute;
    background-color: #141229;
    display:none;
}
.drop:hover .dropdown{
    display: block;
}
.thirdpart{
    display: none;
}
#bar {
    position:relative;
    display:none;
    right:40px;
    font-size:2rem;
    cursor:pointer;
}
#cross {
    margin:20px;
    font-size:2.3rem;
    cursor:pointer;
    display:none;
}
#sidebar{
    display:none;
    position:absolute;
    top:0px;
    right:0px;
    height:650px;
    width:200px;
    background-color:grey;
    z-index:2;
    background-color: black;
    /* margin-top: 60px; */
}
#sidebar  ul{
    list-style-type: none;
    padding:20px;
}
#sidebar ul li{
    font-size:1.3rem;  
    padding:10px;
}
#sidebar ul li a{
    display: block;
    padding:10px;
}
#sidebar ul a:hover{
    color:rgb(10, 173, 165);
    margin-left:20px;
    transition:0.5s;
}
.sidebardropdown{
    display: none;
}
.sidebardrop:hover .sidebardropdown{
    display: block;
}
.secondpart button{
    padding:10px 20px;
    margin-right:10px;
    font-size: 1.2rem;
    border:none;
    cursor: pointer;
    background-color:transparent;
    color:white;
    border:2px solid rgb(10, 173, 165);
}
.secondpart button:hover{
    background-color: rgb(10, 173, 165);
    color:white;
    border-radius: 30px;
    transition: ease 1s;
}

.imageslider{
    display: flex;
    /* width:100%; */
    padding-top:80px;
    position: relative;
}
.myslides{
    height:600px;
    width:100%;
}
.myslides img{
     height:100%;
     width:100%;
}
.fade{
    animation-name: fad;
    opacity:1;
    animation-duration:1s;
}
@keyframes fad{
    from{
        opacity:0.5;
    }
    to{
        opacity: 1;
    }
}
.content{
    position: absolute;
    text-align: center;
    color:white;
    padding:20px 100px;
}
.content span{
    font-size:2.5rem;
    font-family: 'Oswald', sans-serif;
}
.content h3{
    font-size:6rem;
    margin-top:40px;
    font-weight:500;
    letter-spacing: -2px;
    font-family: 'Oswald', sans-serif;
    text-shadow: 0 2px 4.8px rgba(30,29,50,0.3);
}
.content p{
    font-size: 1.1rem;
    margin-top:60px;
    letter-spacing:2px;
    line-height: 20px;
    font-family: 'Play', sans-serif;
}
.content button{
    padding:15px 50px;
    font-size: 1.2rem;
    border:none;
    background-color: rgb(58, 218, 202);
    border-radius: 20px;
    margin-top:30px;
    color:white;
}
.content button:hover{
    transform:rotateX(360deg);
    transition: ease 2s;
}
.second{
    max-width:100%;
    display: flex;
    padding:100px 10px;
    justify-content: space-around;
}
.firstimage{
    position: relative;
    /* max-height:400px;
    max-width:300px; */
}
.firstimage p{
    position: absolute;
    bottom:40px;
    left:45%;
    color:white;
    font-size:4rem;
}
.secondimage{
    position: relative;
    /* max-height:400px;
    max-width:300px; */
}
.secondimage p{
    position:absolute;
    left:35%;
    bottom:40px;
    color: white;
    font-size:4rem;
}
.firstimage img:hover{
    transform: rotateY(360deg);
    transition: ease-in-out 2s;
}
.secondimage img:hover{
    transform: rotateY(360deg);
    transition: ease-in-out 2s;
}
.event{
    background-color:rgb(33, 29, 53);
    display: flex;
    flex-direction: column;
    width:70%;
    margin:0px auto;
    border-radius: 0px 0px 20px 20px;
}
.eventslider{
    display: flex;  
    position: relative;
}
.photoslide{
    width:100%;
    height:600px;  
}
.photoslide img{
    height:100%;
    width:100%;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size:3rem;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .eventcontent{
      padding:30px 50px;
      color:white;
      font-family: play;
  }
  .event h1{
      font-size: 1.1rem;
      color:rgb(10, 173, 165);
      margin-bottom:20px;
  }
  .event span{
      font-size:1.5rem;
  }
  .event p{
      margin-top:30px;
      line-height:20px;
      letter-spacing:1.5px;
  }
.goy{
    display: flex;
    padding:90px 10px;
    background-color: rgb(29, 26, 44);
    color:white;
    margin:150px auto;
    width:90%;
    border-radius: 20px;
}
.goycontent{
    width:50%;
    padding-left:100px;
    font-family: play;
}
.goycontent h1{
    margin-bottom:10px;
    color:rgb(58, 218, 202);
    font-weight: 400;
    letter-spacing: 1px;
}
.goycontent span{
    margin:20px 0px;
    font-size:1.6rem;
    font-weight:bold;
    letter-spacing: 1px;
}
.goycontent p{
    margin:20px 0px;
    line-height:22px;
    letter-spacing: 1px;
}
.goyimg{
    width:50%;
    padding: 20px;
    border-radius: 20px;
}
.goyimg img{
    width:100%;
    height:100%;
    border-radius: 20px;
}
.goycontent button{
    padding:15px 40px;
    color:white;
    background-color:rgb(46, 184, 170);
    border:none;
    font-size: 1.2rem;
    border-radius:10px;
    margin-top: 20px;
    cursor: pointer;
}
.review{
    margin:0px auto;
    width:90%;
    padding:30px 0px;
    position:relative;
}
.review h1{
    text-align: center;
    color: white;
    font-size:3rem;
}
.inner{
    display: flex;
}
.reviewslide{
    
     display: flex;
    justify-content: space-around;
    width:100%;
    height:100%;
    padding:80px 30px;
}
.rev{
   width:40%;
   min-height:350px;
   align-self:center;
   padding:40px;
   position:relative;
   border-radius: 20px;
   background-color: #292845;
   color:white;
}
.rev h1{
    text-align: center;
    margin-top:30px;
    font-size: 2.2rem;
}
.rev h2{
    text-align: center;
    margin-top:10px;
    color:skyblue;
}
.rev p{
    margin-top: 20px;
    line-height: 22px;
    font-size: 1rem;
    font-family: play;
    text-align: center;
}
.rev img{
    width:120px;
    height:120px;
    border-radius:50%;
    position: absolute;
    top:-55px;
    left:155px;
}
.membership{
    margin:100px 30px;
    display: flex;
    flex-wrap: wrap;

    justify-content: space-around; 
}
.business .price{
    background-color:#5c9ddd;
}
.premium .price{
    background-color:#7c69e3;
}
.sbp{
    color:white;
    background-color: #292845;
    width:28%;
    border-radius: 20px;
}
.sbp h2{
    font-size: 1.5rem;
    text-align: center;
    padding:20px 0px;
}
.sbp h2:hover{
    color:skyblue;
}
.price{
    background-color: rgb(40, 158, 179);
    text-align: center;
    padding:20px 0px;
}
.price span:nth-of-type(1){
    font-size: 1.5rem;
}
.price span:nth-of-type(2){
    font-size:2.5rem;
}
.price h1{
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 1px;
}
.membership ul{
    text-align: center;
    padding:20px 60px;
    list-style-type: none;
}
.membership li{
    /* margin:20px 20px; */
}
.membership li:nth-of-type(2){
    border-bottom:1px solid white;
    border-top:1px solid white;
}
.membership li a{
    text-decoration: none;
    display: block;
    font-size: 1.1rem;
    padding:25px 10px;
}
.membtn{
    padding:15px 40px;
    font-size: 1.1rem;
    /* margin-left: 25%;
    margin-bottom: 50px; */
    margin:20px 0px 50px 25%;
    background-color: rgb(40, 158, 179) ;
    border:none;
    color:white;
    border-radius:10px;
    cursor: pointer;
}
.membtn:hover{
    background-color: rgb(20, 71, 80,0.9);
    transition: 1s;
}
.team{
    padding: 0px 20px;
   
}
.team h1{
    text-align: center;
    color: white;
    padding:10px 0px 60px 0px;
    font-size:2.5rem;
}
.team_members{
    display: flex;
    justify-content: space-around;
}
.member{
    flex-basis: 23%;
    min-height:300px;
    border-radius:15px;
    background-color: #292845;
}
.team-img{
    width:100%;
    height:168.6px;
   
}
.team-img:hover{
    opacity: 0.4;
    transition: 0.7s;
}
.team-img img{
    height: 100%;
    width: 100%;
    border-radius:15px 15px 0px 0px;
}
.team-content{
    color:white;
    padding:40px 20px;
    text-align: center;
}
.team-content ul{
    list-style-type: none;
}
.team-content ul li {
    display: inline;
}
.team-content i{
    color:#1bc2ca;
    padding:2rem 10px 0px 10px;
    font-size: 1.5rem;
}

.team-content h2{
    margin-bottom:20px;
    font-weight: 500px;
    letter-spacing: 1px;
    font-size: 1.2rem;
}
.team-content h2:hover{
    color: #1bc2ca;
    transition:0.6s;
}
.team-content span{
    font-weight: bold;
    letter-spacing: 1px;
    color: #1bc2ca;
}
.contact{
    margin:50px auto;
    text-align: center;
    color:white; 
    padding:20px;
}
.contacthead h1{
    font-size:2rem;
    letter-spacing: 2.3px;
    margin:20px 0px;
}
.contacthead span{
     font-size:1rem;
     color:white;
     font-weight: 100;
}
.contactform{
    margin:50px 0px;
   display: flex;
   justify-content: center;
   font-size:1.3rem;
}
.form-first{
    line-height:50px;
    font-size: 1.6rem;
}
.form-second{
    margin-left: 15%;
    text-align:center;
}
.form-second input{
    padding:15px 10px;
    margin:13px 10px;
    border-radius: 12px;
    border: none;
    background-color: #292845;
}
.msg{
    width: 95%;
}
input[type="submit"]{
     margin-top: 20px;
     padding:10px 20px;
     font-size: 1.1rem;
     color:white;
     background: #1bc2ca;
     border:none;
     border-radius: 10px;
}
.yourlocation{
    text-align: center;
}
iframe{
    height:500px;
    width:80%;
    margin-bottom: 20px;
}
footer{
    color:white;
    padding:20px;
    text-align: center;
    font-size: 1.4rem;
}
footer:hover{
    color:#1bc2ca;
    transition: 0.6s;
    transform: rotateX(360deg);
}
